<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Form</title>
    <link 
      href="{{url_for('static', path='/css/styles.css')}}" 
      rel="stylesheet" 
    />
</head>
<body>
    <div class='flex flex-col items-center'>
        <p class='text-4xl p-2'>Startup Success Predictor</p>
        <div class='text-xl font-bold w-[80%] items-start'>
            <p>About the feature</p>
        </div>
        <ul class="text-sm grid grid-cols-5 gap-4 w-[80%]">
            <li>id: The unique identifier of the project.</li>
            <li>platform_name: The crowdfunding platform where the project is hosted.</li>
            <li>mass_funding_type: Type of crowdfunding (e.g., reward, donation).</li>
            <li>project_category: Category of the project.</li>
            <li>funding_method: Funding method (e.g., all or nothing).</li>
            <li>project_name: Project name.</li>
            <li>project_owner: Name of the project owner.</li>
            <li>project_owner_gender: Gender of the project owner.</li>
            <li>project_supported: Number of projects the owner has backed.</li>
            <li>number_of_projects_owned: Number of projects owned by the project owner.</li>
            <li>number_of_teams: Number of teams the project owner is part of.</li>
            <li>project_duration: Duration of the project in days.</li>
            <li>promo_video: Whether the project has a promotional video.</li>
            <li>promo_video_length: Length of the promotional video.</li>
            <li>image_count: Number of images related to the project.</li>
            <li>faq: Whether the project has a Frequently Asked Questions (FAQ) section.</li>
            <li>updates: Number of updates for the project.</li>
            <li>comments: Number of comments on the project.</li>
            <li>backer_count: Number of backers for the project.</li>
            <li>reward_count: Number of rewards offered in the project.</li>
            <li>project_member_count: Number of people in the project team.</li>
            <li>website: Whether the project has a website.</li>
            <li>social_media: Whether the project has social media accounts.</li>
            <li>social_media_count: Number of social media accounts for the project.</li>
            <li>social_media_followers: Number of social media followers for the project.</li>
            <li>total_tags: Number of tags used in the project description.</li>
            <li>target_amount: Target amount of funding for the project.</li>
        </ul>
        {% if message %}
        <div class="flex justify-center items-center m-2 gap-x-8">
            <div class="message h-fit w-fit">
                <p>{{ message }}</p>
            </div>
            <form action="/" method="GET">
                <button class='border-2 font-bold p-2 hover:bg-slate-300' type="submit">Refresh</button>
            </form> 
        </div>
        {% endif %}
        <div class='flex flex-wrap w-fit p-8'>
            <form action="/predict/" method="post" class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-6 gap-y-4">
                <label for="name">Project Name:</label>
                <input class='border-2' type="text" id="name" name="name"><br><br>
        
                <label for="mass_funding_type">Mass Funding Type:</label>
                <select id="mass_funding_type" name="mass_funding_type" required>
                    <option value="prize">Prize</option>
                    <option value="donation">Donation</option>
                </select><br><br>
        
                <label for="project_category">Category:</label>
                <select id="project_category" name="project_category" required>
                    <option value="film-video-photography">Film, Video & Photography</option>
                    <option value="technology">Technology</option>
                    <option value="culture-art">Culture & Art</option>
                    <option value="education">Education</option>
                    <option value="environment">Environment</option>
                    <option value="music">Music</option>
                    <option value="health-beauty">Health & Beauty</option>
                    <option value="design">Design</option>
                    <option value="publishing">Publishing</option>
                    <option value="food-eating-drinking">Food, Eating & Drinking</option>
                    <option value="sports">Sports</option>
                    <option value="animals">Animals</option>
                    <option value="fashion">Fashion</option>
                    <option value="social_responsibility">Social Responsibility</option>
                    <option value="dance-performance">Dance & Performance</option>
                    <option value="tourism">Tourism</option>
                    <option value="other">Other</option>
                </select><br><br>
        
                <label for="funding_method">Funding Method:</label>
                <select id="funding_method" name="funding_method" required>
                    <option value="all-or-nothing">All or Nothing</option>
                    <option value="keep-it-all">Keep it All</option>
                </select><br><br>
        
                <label for="project_supported">Number of Supported Projects:</label>
                <input class='border-2' type="number" id="project_supported" name="project_supported" required><br><br>
        
                <label for="number_of_projects_owned">Number of Owned Projects:</label>
                <input class='border-2' type="number" id="number_of_projects_owned" name="number_of_projects_owned" required><br><br>
        
                <label for="number_of_teams">Number of Teams:</label>
                <input class='border-2' type="number" id="number_of_teams" name="number_of_teams" required><br><br>
        
                <label for="project_duration">Project Duration (days):</label>
                <input class='border-2' type="number" id="project_duration" name="project_duration" required><br><br>
        
                <label for="promo_video">Has Promo Video:</label>
                <select id="promo_video" name="promo_video" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br><br>
        
                <label for="promo_video_length">Promo Video Length (seconds):</label>
                <input class='border-2' type="number" id="promo_video_length" name="promo_video_length" required><br><br>
        
                <label for="image_count">Number of Images:</label>
                <input class='border-2' type="number" id="image_count" name="image_count" required><br><br>
        
                <label for="faq">Has FAQ:</label>
                <select id="faq" name="faq" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br><br>
        
                <label for="updates">Number of Updates:</label>
                <input class='border-2' type="number" id="updates" name="updates" required><br><br>
        
                <label for="comments">Number of Comments:</label>
                <input class='border-2' type="number" id="comments" name="comments" required><br><br>
        
                <label for="reward_count">Number of Rewards:</label>
                <input class='border-2' type="number" id="reward_count" name="reward_count" required><br><br>
        
                <label for="project_member_count">Number of Project Members:</label>
                <input class='border-2' type="number" id="project_member_count" name="project_member_count" required><br><br>
        
                <label for="website">Has Website:</label>
                <select id="website" name="website" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br><br>
        
                <label for="social_media">Has Social Media:</label>
                <select id="social_media" name="social_media" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br><br>
        
                <label for="social_media_count">Number of Social Media:</label>
                <input class='border-2' type="number" id="social_media_count" name="social_media_count" required><br><br>
        
                <label for="social_media_followers">Number of Social Media Followers:</label>
                <input class='border-2' type="number" id="social_media_followers" name="social_media_followers" required><br><br>
        
                <label for="total_tags">Total Tags:</label>
                <input class='border-2' type="number" id="total_tags" name="total_tags" required><br><br>
        
                <label for="target_amount">Target Amount:</label>
                <input class='border-2' type="number" id="target_amount" name="target_amount" required><br><br>
        
                <label for="backer_count">Number of Backers:</label>
                <input class='border-2' type="number" id="backer_count" name="backer_count" required><br><br>
        
                <button class='border-2 font-bold hover:bg-slate-300' type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>